.background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url(woodbackground1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.dropbar {
	height: 60px;
	width: 1450px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
}

.one {
	position: absolute;
	width: 300px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 1000px;
	font-weight: 200;
	color: white;
	letter-spacing: 3px;
}

.two {
	position: absolute;
	width: 300px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 700px;
	font-weight: 200;
	color: white;
	letter-spacing: 3px;
}

.three {
	position: absolute;
	width: 300px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 400px;
	font-weight: 200;
	color: white;
	letter-spacing: 3px;
}

.four {
	position: absolute;
	width: 1000px;
	font-family: 'Oswald', sans-serif;
	font-size: 3.5vw;
	top: 30px;
	left: 500px;
	font-weight: 700;
	color: white;
	letter-spacing: 3px;
}

.stouttext {
	position: absolute;
	width: 200px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: 200px;
	left: 60px;
	font-weight: 200;
	color: white;
	letter-spacing: 0px;
}

.lagertext {
	position: absolute;
	width: 200px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: 200px;
	left: 350px;
	font-weight: 200;
	color: white;
	letter-spacing: 0px;
}

.aletext {
	position: absolute;
	width: 200px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: 200px;
	left: 640px;
	font-weight: 200;
	color: white;
	letter-spacing: 0px;
}

.ipatext {
	position: absolute;
	width: 200px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: 200px;
	left: 900px;
	font-weight: 200;
	color: white;
	letter-spacing: 0px;
}

.specialtytext {
	position: absolute;
	width: 200px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: 200px;
	left: 1150px;
	font-weight: 200;
	color: white;
	letter-spacing: 0px;
}

.stout1 {
	height: 450px;
	position: absolute;
	top: 200px;
	left: 20px;
}


.lager1 {
	height: 485px;
	position: absolute;
	top: 175px;
	left: 300px;
}

.ale1 {
	height: 460px;
	position: absolute;
	top: 185px;
	left: 600px;
}

.ipa1 {
	height: 455px;
	position: absolute;
	top: 200px;
	left: 850px;
}

.specialty1 {
	height: 470px;
	position: absolute;
	top: 195px;
	left: 1100px;
}

