.background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;

}

.dropbar {
	height: 60px;
	width: 1450px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(100, 243, 248);
	opacity: 75%;
}

.one {
	position: absolute;
	width: 800px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 550px;
	font-weight: 600;
	color: black;
	letter-spacing: 3px;
}

.home {
	position: absolute;
	width: 800px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 50px;
	font-weight: 300;
	color: black;
	letter-spacing: 3px;
}

.alpine {
	height: 300px;
	position: absolute;
	top: 90px;
	left: 190px;
}

.doubleshotblack {
	height: 300px;
	position: absolute;
	top: 90px;
	left: 420px;
}

.bittermonk {
	height: 300px;
	position: absolute;
	top: 90px;
	left: 560px;
}

.headytopper {
	height: 300px;
	position: absolute;
	top: 90px;
	left: 700px;
}

.buddysprinkles {
	height: 300px;
	position: absolute;
	top: 90px;
	left: 880px;
}

.juicebomb {
	height: 300px;
	position: absolute;
	top: 90px;
	left:1050px;
}

.hopdrop {
	height: 250px;
	position: absolute;
	top: 420px;
	left: 250px;
}

.transient {
	height: 250px;
	position: absolute;
	top: 420px;
	left: 400px;
}

.bks {
	height: 250px;
	position: absolute;
	top: 420px;
	left: 550px;
}

.samesame {
	height: 250px;
	position: absolute;
	top: 420px;
	left: 700px;
}

.wrench {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 850px;
}

.julius {
	height: 250px;
	position: absolute;
	top: 420px;
	left: 1000px;
}

.logicalconclusion {
	height: 250px;
	position: absolute;
	top: 420px;
	left: 1150px;
}


