.background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;

}

.dropbar {
	height: 60px;
	width: 1450px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(100, 243, 248);
	opacity: 75%;
}

.one {
	position: absolute;
	width: 800px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 550px;
	font-weight: 600;
	color: black;
	letter-spacing: 3px;
}

.home {
	position: absolute;
	width: 800px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5vw;
	top: -10px;
	left: 50px;
	font-weight: 300;
	color: black;
	letter-spacing: 3px;
}

.troegenator {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 220px;
}

.perpetual {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 350px;
}

.narragansett {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 480px;
}

.smokeanddagger {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 650px;
}

.campfire {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 800px;
}

.headway {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 920px;
}

.lunch {
	height: 250px;
	position: absolute;
	top: 130px;
	left: 1080px;
}

.ruby {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 210px;
}

.granola {
	height: 180px;
	position: absolute;
	top: 480px;
	left: 350px;
}

.samadams {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 490px;
}

.twojuicy {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 620px;
}

.switchback {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 750px;
}

.notyourfathers {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 890px;
}

.blonde {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 980px;
}

.bluepoint {
	height: 230px;
	position: absolute;
	top: 430px;
	left: 1120px;
}
